{% extends 'main/index.html' %}
{% load static %}

{% block title %}
    DataBase | Edit folder
{% endblock %}

{% block main %}
    {% if not exist %}
        <h1>Folder does not exist</h1>
    {% else %}
        <form action='' id='main' method='post'>
            {% csrf_token %}
            <h1>Edit Folder</h1>
            {{form.as_p}}
            <input type='submit' value='SUBMIT'>
        </form>
    {% endif %}

    <a href="../../notes/" id='red_btn'>Back</a>
{% endblock %}

{% block import %}
<link rel='stylesheet' href="{% static 'css/add.css' %}">
{% endblock %}