{% extends 'main/index.html' %}
{% load static %}

{% block title %}
    DataBase | Notes
{% endblock %}

{% block main %}
    {% if not exist %}
        <h1>Note does not exist</h1>
    {% else %}
        <h1>{{note.title}}</h1>
        <p>Created: {{note.date}}</p>
        {% if note.folder %}
            <p>Folder: {{note.folder.title}}</p>
        {% endif %}

        {% for line in note.as_list %}
            {% if line.0 == '#' %}
                <b>{{line|slice:'1:'}}</b>
            {% elif line.0 == '$' %}
                <i>{{line|slice:'1:'}}</i>
            {% elif line.0 == '%' %}
                <u>{{line|slice:'1:'}}</u>
            {% else %}
                {{line}}
            {% endif %}
            <br>
        {% endfor %}
        <br>
    {% endif %}

    {% if note.folder %}
        <a href='../folders/{{note.folder.id}}' id='red_btn'>Back</a>
    {% else %}
        <a href='../notes' id='red_btn'>Back</a>
    {% endif %}
    <a href="{{note.id}}/edit" id='red_btn'>Edit</a>
{% endblock %}

{% block import %}
<link rel='stylesheet' href="{% static 'css/notes.css' %}">
{% endblock %}

